.card {
  width: 454px;
  height: 281px;
  display: flex;
  gap: 1rem;
  box-shadow: 0px 4px 12px 0px #00000026;
}

  .card-poster {
    margin:0;
    padding:0;
  }  

  .card-info {
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-right: .9rem;
    overflow: hidden;
  }

    .card-title {
      width: 90%;
      font-size: 20px;
      line-height: 28px;
    }

    .card-date {
      font-size: 12px;
      line-height: 22px;
      color: #827E7E;
    }

    .card-description {
      font-size: 12px;
      line-height: 22px;
      overflow: hidden;
      -webkit-line-clamp: 6;
      display: -webkit-box; 
      -webkit-box-orient: vertical; 
    }

.rate {
  white-space: nowrap;
  transform: translateX(-27px) scale(0.8);
  position: absolute;
  bottom: 10px;
}

.circle {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 22px;
}

.circle.border-bad {
  border-color: #E90000;
}

.circle.border-good {
  border-color: #E97E00;
}

.circle.border-best {
  border-color: #E9D100;
}

.circle.border-genius {
  border-color: #66E900;
}